.adjustingFooter{
    min-height: calc( 100vh - 50px);
    /* position: relative; */
    


}
.backgroundStyling{
    width: 80%;
    margin: auto;
    margin-top: 3%;
    padding: 3% 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px gray;
    margin-bottom: 5%;
    

}
.accordationBorderRadius{
    border-radius: 20px;

}