.backgroundImageSet{
    background-image: url("/HomePAge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
margin: 0px;
/* height: 50000%; */

}
.mainHeadingSet{
    /* margin: auto ; */
   margin-top: 10%;
   margin-left: 3%;
    width: 50%;
    color: silver;
    text-align: center;

}

/* @media only screen and (max-width: 425px) {
    .NavbarBackground{
    }
    
    .tabMenu{
        /* border: 1px solid red; 
        padding: 1%;
        border-right: 1px solid maroon;
        cursor: pointer;
        border-radius: 20px;
        width: 70%;
        text-align: center;
        font-size: small;
        
    }
    } */